
.article {
  margin-bottom: 2em;
  margin-top: 1em;
}

.article-title {
  position: relative;
  top: -0.2em;
}

.article-details {
  display: flex;
  flex-direction: row;
}

.article-detail {
  vertical-align: middle;
  margin-left: 0.5em;

  &:nth-child(1) {
    margin-left: 0;
  }
}

.spacer {
  width: 20px;
}
.input.emoji {
  width: 50px;
}
.title-field {
  width: 100%;
}